body {
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
    flex-direction: column;
}

#snakeContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.snake {
    font-size: 30px;
    position: absolute;
    transition: left 0.1s linear, top 0.1s linear;
    opacity: 1;
}

#output {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #4caf50;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
